@import 'colors';

.canvas1 {
  font: 10px sans-serif;
  background-color: $bgcolor;
  width: 600px;
  height: 520px;
}

.canvas2 {
  font: 10px sans-serif;
  background-color: $bgcolor;
  width: 600px;
  height: 520px;
}

.canvas3 {
  font: 10px sans-serif;
  background-color: $bgcolor;
  width: 600px;
  height: 520px;
}

.dot {
  fill: $color;
  stroke: black;
}

#webpack-img {
  width: 50px;
}
